{% extends "admin/layout.html" %}

{% block page_title %}
    Index
{% endblock %}
{% block main_content %}
<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    {% for item in itemBoards %}
    <div class="col-lg-3 col-xs-6">
      <div class="small-box {{item.background}}">
        <div class="inner">
          <h3>{{ item.count }}</h3>

          <p>{{ item.label }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
      </div>
    </div>
    {% endfor %}
</section>
{% endblock %}