{% extends "admin/layout.html" %}

{% block page_title %}
    Jobs
{% endblock %}

{% block main_content %}
<section class="content-header">
  <h1>
    Jobs
    <small>List</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Jobs</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
{% csrf_token %}
  <div class="row">
    <div class="col-md-12">
    <a type="button" class="btn btn-sm btn-primary" href="{% url 'admin-insert-job' %}"><i class="fa fa-plus"></i> Thêm mới</a>
      <div class="box" style="margin-top: 15px">
        <div class="box-header with-border">
            <h3 class="box-title">Jobs</h3>
        </div>
        <div class="box-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th style="width: 10px">#</th>
                <th>Title</th>
                <th>Company</th>
                <th>Career</th>
                <th>created_at</th>
                <th style="width: 150px">Action</th>
              </tr>
              {% for job in jobs %}
              <tr id="tr-{{ job.id }}">
                <td>{{ forloop.counter }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.company.name }}</td>
                <td>{{ job.career.name }}</td>
                <td>{{ job.created_at }}</td>
                <td>
                  <a href="/admin/jobs/edit/{{ job.id }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                  <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-delete-{{ job.id }}"><i class="fa fa-trash"></i></button>
                  <div class="modal fade" id="modal-delete-{{ job.id }}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span></button>
                          <h4 class="modal-title">{{ job.title }}</h4>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure delete this job?</p>
                        </div>
                        <div class="modal-footer">
                          <a type="button" class="btn btn-default" data-dismiss="modal">No</a>
                          <a type="button" class="btn btn-primary btn-agree-delete" job-id="{{ job.id }}">Yes</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="box-footer clearfix">
          <span class="current">
            Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}
          </span>
          <ul class="pagination pagination-sm no-margin pull-right">
            {% if jobs.has_previous %}
                <li><a href="?page=1">first</a></li>
                <li><a href="?page={{ jobs.previous_page_number }}">«</a></li>
            {% endif %}

            {% for page in pages %}
                {% if jobs.number == page %}
                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}

            {% endfor %}

            {% if jobs.has_next %}
                <li><a href="?page={{ jobs.next_page_number }}">»</a></li>
                <li><a href="?page={{ jobs.paginator.num_pages }}">last</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function() {
      $(".btn-agree-delete").click(function() {
        $jobId = $(this).attr('job-id');
        $.ajax({
          url: '/admin/jobs/delete/' + $jobId + '/', // URL to your view
          method: 'POST',
          data: {
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val() // Send CSRF token
          },
          success: function(response) {
              if (response.success) {
                  toastr.success('Xóa thành công.');
                  $('.modal').modal('hide');
                  $('#tr-' + $jobId).remove();
                  $('#modal-delete-' + $jobId).modal('hide');
                  $('.modal-backdrop').remove();
              } else {
                  toastr.warning('Xóa thất bại.');
              }
          },
          error: function() {
              alert('AJAX request failed.');
          }
        });
      });
    });
  </script>
{% endblock %}