<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
    <link href="./src/css/style.css" rel="stylesheet">
    <link href="./src/feather/feather.css" rel="stylesheet">
    <link href="./src/css/h-detail.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="t-container">
            <div class="nav-bar">
                <div class="nav-bar__menu">
                    <a href="#" class="logo-link">
                        <img class="logo" src="./src/images/logo.png" alt="Logo">
                    </a>
                </div>
                <div class="nav-bar__login"></div>
            </div>
        </div>
    </header>

    <section id="detail-job">
        <div class="t-container detail-job">
            <div class="content">
                <div class="content-header card">
                    <div class="card-body">
                        <div class="flex">
                            <div class="img">
                                <img src="./src/images/company.png" alt="">
                            </div>
                            <div class="info">
                                <h1 class="title">GOOGLE WORKSPACE APPLICATION ENGINEER</h1>
                                <p class="sub-title">ZOI.TECH SGN</p>
                                <div class="option">
                                    <div class="icon"><i class="fe fe-map-pin"></i></div>
                                    <div class="mb-2 flex last:mb-0">
                                        <p>Tầng 5 &amp; 6, Tòa nhà Queen , Số 49 Điện Biên Phủ, Phường Đa Kao, Quận 1, Thành phố Hồ Chí Minh</p>
                                    </div>
                                </div>

                                <div class="option">
                                    <div class="icon"><i class="fe fe-dollar-sign"></i></div>
                                    <div class="mb-2 flex last:mb-0">
                                        <p>2000$</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-detail card">
                    <h2 class="card-title">Mô tả công việc</h2>
                    <div class="card-body">
                        <div class="item border-bottom">
                            <p class="item-title">YOUR BRILLIANT FUTURE IN TECH IS NOW</p>
                            <div class="item-body">
                                <ul>
                                    <li>Welcome to the world of Zoi. We are those who build the digital evolution of our enterprise customers, closing the gap between enterprise IT and new technologies. Zoi strives to bring the cloud to the Retail and Manufacturing industries with innovative solutions that deliver real value.</li>
                                    <li>We are expanding our European teams in Stuttgart, Berlin, Lisbon, Barcelona and Bucharest. We are also looking for support at our international locations in Mexico City. Just choose your favorite Zoi city! Travel between our locations is possible.</li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="item border-bottom">
                            <p class="item-title">Trách nhiệm công việc</p>
                            <div class="item-body">
                                <ul>
                                    <li>You'll collaborate with a diverse and talented interdisciplinary team to plan, implement and support Google Workspace rollouts all over the world</li>
                                    <li>Your focus will be on ensuring the long-term success of these projects by migrating applications to Google Workspace</li>
                                    <li>Your daily work will be understanding customer’s applications, which are based on their old system and you will be in charge of transferring these to Google Workspace</li>
                                    <li>You will be working in an agile environment</li>
                                </ul>
                            </div>
                        </div>

                        <div class="item border-bottom">
                            <p class="item-title">Kỹ năng & Chuyên môn</p>
                            <div class="item-body">
                                <ul>
                                    <li>We are seeking candidates with a minimum of 1 year of practical experience, who are passionate about Google Workspace and eager to further develop their expertise in this domain.</li>
                                    <li>You have experience as a Developer in the following languages (JavaScript, Python..) or equivalent experience.</li>
                                    <li>Experience in working with APIs and is able to apply best practices to design and implement APIs.</li>
                                    <li>You have significant expertise in one of the following languages: AppScript and JavaScript. Core is what you’ve built up in the past years.</li>
                                    <li>You're familiar with the Google Workspace Ecosystem. Experience in working with Google Cloud APIs is a big plus</li>
                                    <li>Experience in Frontend Development (ReactJS, NextJS...) is a plus, although not mandatory.</li>
                                </ul>
                                <p>Do you like to be surrounded by brilliant minds? Awesome. At Zoi, you become part of our community of tech enthusiasts and develop your full potential. Create fresh ideas and shape the digital transformation of our enterprise customers sustainably.</p>
                            </div>
                        </div>

                        <div class="item">
                            <p class="item-title">Phúc lợi dành cho bạn</p>
                            <div class="item-body">
                                <ul>
                                    <li>GOOD WORK SHOULD BE REWARDED - which is why we offer various bonus models at our company</li>
                                    <li>TIME IS WISDOM - 20 % of your working time is available for experimenting and education</li>
                                    <li>BE FREE - Hybrid working time</li>
                                    <li>DEVELOP YOURSELF - with our individual certification and training plan</li>
                                    <li>SKILL YOURSELF UP - Zoi can only be as good as you are. That’s why we value constant training and development</li>
                                    <li>REFUEL - at our regular free Friday lunch</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="right-side">
                <button class="btn-apply">Ứng tuyển ngay</button>

                <div class="card">
                    <h2 class="card-title">Thông tin chung</h2>
                    <div class="card-body">
                        <div class="item">
                            <p class="item-title">Năm kinh nghiệm tối thiểu</p>
                            <div class="item-body">
                               <p>Từ 1 năm</p>
                            </div>
                        </div>

                        <div class="item">
                            <p class="item-title">Cấp bậc</p>
                            <div class="item-body">
                               <p>Junior, Middle, Senior</p>
                            </div>
                        </div>

                        <div class="item">
                            <p class="item-title">Loại hình</p>
                            <div class="item-body">
                               <p>Hybrid</p>
                            </div>
                        </div>

                        <div class="item">
                            <p class="item-title">Loại hợp đồng</p>
                            <div class="item-body">
                               <p>Fulltime</p>
                            </div>
                        </div>

                        <div class="item">
                            <p class="item-title">Các công nghệ sử dụng</p>
                            <div class="item-body">
                               <span class="badge">JavaScript</span>
                               <span class="badge">English</span>
                               <span class="badge">Java Core</span>
                            </div>
                        </div>

                        <div class="item">
                            <p class="item-title">Quy trình phỏng vấn</p>
                            <div class="item-body">
                                <ul>
                                    <li>Vòng 1: Interview with Tech Leads in Vietnam by English</li>
                                    <li>Vòng 2: Interview with Managers in Germany by English</li>
                                    <li>Vòng 3: Deal Salary</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    
</body>
</html>